<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Widget</title>
    <link rel="stylesheet" href="/styles/normalize.css">
    <link rel="stylesheet" href="/styles/style.css">
    <script type="module" src="/js/script.js"></script>
</head>

<body>
    <main>
        <div class="cover" id="cover"></div>
        <div class="informations">
            <div class="informations__artist" id="artist"></div>
            <div class="informations__title" id="title"></div>
        </div>
    </main>
</body>

</html>