<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Widget</title>
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/styles/widget.css">
    <script type="module" src="/js/widget.js"></script>
</head>

<body>
    <main>
        <div class="cover" id="cover"></div>
        <div class="informations">
            <div class="informations__artist" id="artist">—</div>
            <div class="informations__title" id="title">Chargement...</div>
        </div>
    </main>
</body>

</html>